---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import { formatDate, capitalize } from "../../utils";
import ImageLoader from "../../components/blog/ImageLoader.astro";

export const getStaticPaths = (async () => {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(post);
---

<Layout title={post.data.title}>
  <div class="wrapper has-padding">
    <div class="post__header">
      <h1>{capitalize(post.data.title)}</h1>
      <p>
        {formatDate(post.data.pubDate)}
        –
        <span>{remarkPluginFrontmatter.minutesRead}</span>
      </p>
      <div class="controls">
        <a class="ctrl" href="/blog"><i class="iconoir-dot-arrow-left"></i></a>
        <!-- TODO: Add functionality for this -->
        <!-- <button id="sh-btn" class="ctrl"
          ><i class="iconoir-share-ios"></i></button
        > -->
      </div>
      <ImageLoader
        src={`/images/blog/${post.id}/cover.jpg`}
        alt={`cover image for ${post.data.title}`}
      />
    </div>

    <div class="content animate__animated animate__fadeIn">
      <Content />
    </div>
  </div>
</Layout>

<style lang="scss">
  @use "../../styles/utils/" as u;
  .wrapper {
    @include u.display-flex(column, center, flex-start, 2em, nowrap);

    .post__header {
      width: 100%;
      @include u.display-flex(column, flex-start, flex-start, 0.25em, nowrap);

      h1 {
        font-size: u.rem(16);
        font-weight: 400;
      }

      p {
        font-size: u.rem(14);

        span {
          font-style: italic;
        }
      }

      .controls {
        @include u.display-flex(row, center, flex-start, 0.5em, nowrap);

        .ctrl {
          border: none;
          height: 32px;
          width: 32px;
          border-radius: 50%;
          background-color: var(--color-fore-bg);
          display: flex;
          align-items: center;
          justify-content: center;
          padding: u.rem(8);
          cursor: pointer;

          &:hover {
            background-color: var(--color-highlight-bg);
          }

          i {
            font-size: 18px;
          }
        }
      }
    }

    .content {
      width: 100%;
      padding-block-end: 30px;
    }
  }
</style>

<style is:global lang="scss">
  @use "../../styles/utils/" as u;
  .content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: u.rem(16);
      margin-block: u.rem(8);
      font-weight: 500;
    }

    p {
      line-height: 2;
      color: whitesmoke;
      font-size: u.rem(15);
    }

    pre {
      padding: u.rem(16);
      margin: u.rem(8) 0 u.rem(16);
      border-radius: u.rem(4);
      border: solid 1px var(--color-border-code);

      code {
        font-weight: 300;
        font-family: "JetBrains Mono" Menlo monospace !important;

        span {
          font-size: 14px;
        }
      }
    }

    blockquote {
      padding: 8px;
      margin: u.rem(8);
      font-size: u.rem(18);
      background-color: var(--color-fore-bg);
      border-radius: 4px;

      p {
        font-style: italic;
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin: 1rem 0;
      font-size: u.rem(14);
      text-align: left;
      color: var(--color-text-heading);

      th,
      td {
        padding: 0.75rem;
        border: 1px solid var(--color-border-blend);
      }

      th {
        background-color: var(--color-fore-bg);
      }
    }

    ul,
    ol {
      font-size: u.rem(15);
      li {
        margin-left: u.rem(16);
        color: whitesmoke;
        line-height: 2;
      }
    }

    hr {
      border: none;
      height: 1px;
      background-color: var(--color-border-blend);
    }

    img {
      width: 100%;
      margin-block: u.rem(14);
      border-radius: u.rem(4);
      border: solid 1px var(--color-border-code);
    }
  }
</style>
